
:root {
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --rojo: #E5252E;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
    --card-size: 120px;
}
body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}
.cards-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, var(--card-size));
    gap: 26px;
    place-content: center;
}
.product-card{
    width: var(--card-size);
}
.product-card img{
    width: var(--card-size);
    height: var(--card-size);
    border-radius: 20px;
    object-fit: cover;
}
.producto-info{
    display: flex;
    justify-content: space-between;
    align-items: right;
    margin-top: 12px;
}
.producto-info figure{
    margin: 0;
}
.producto-info figure img{
    width: 35px;
    height: 35px;
}
.producto-info div p:nth-child(1){
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 50px;
}
.producto-info div p:nth-child(1){
    font-size: var(--sm);
    margin-top: 0;
    margin-bottom: 0;
    color: var(--very-light-pink);
}
@media (max-width: 640px){
    :root{
        --card-size: 140px;
    }
}

.desktop-menu {
  width: 150px;
  border: 1px solid var(--very-light-pink);
  border-radius: 6px;
  padding: 20px;
}

.desktop-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.desktop-menu ul li {
  text-align: end;
}

.desktop-menu ul li:not(:last-child) {
  margin-bottom: 20px;
}

.desktop-menu ul li:last-child a {
  color: var(--hospital-green);
  font-size: var(--sm);
}

.desktop-menu ul li a {
  text-decoration: none;
  color: var(--black);
}

.mobile-menu {
  padding: 24px;
}

.mobile-menu ul {
  list-style: none;
  padding: 0;
  margin: 24px 0 0 0;
}

.mobile-menu ul:nth-child(1) {
  border-bottom: 1px solid var(--very-light-pink);
}

.mobile-menu ul li {
  margin-bottom: 24px;
}

.mobile-menu a {
  text-decoration: none;
  color: var(--black);
  font-weight: bold;
}

.mobile-menu ul:last-child li:last-child a {
  color: var(--hospital-green);
  font-size: var(--sm);
}





