body{
    margin: o;
    font-family: Arial, sans-serif;
    padding: 40px;
    background: #f6f7f9;

}

.formulario input{
padding: 8px;
margin: 4px; 
}

button{
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
}

.contenedor{
    display: flex;
    gap: 16px;
    margin-top: 24px;
}
.card {
    background-color: white;
    padding: 16px;
    width: 200px;
    border-radius: 8px;
    box-shadow: 0 4px  8px rgba(0, 0, 0, 0.1);
}